.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}

body{
	color: #3e433e;
}
p {
  margin-bottom: 1em;
}
.alpha {
	font-family: 'Anton', sans-serif;
}
h1 {
  font-size: 2.4375em;
}
h4{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.3em;
	line-height: 1.3em;
}
h5{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 1.8em;
	line-height: 1.3em;
}
.byline {
	color: #089E00;
	font-style: italic;
  font-size: .9375em;
  line-height: 1.3;
}
.seperation {
	background-image: url(/assets/images/divider.png);
  height: 7px;
  content: '';
  display: block;
}

.css1 { color: #dbb3c5; }
.css2 { color: #e298b9; }
.css3 { color: #e56ba2; }
.css4 { color: #e85195; }

.tag > h4 > a, .tag {
    height: 28px;
    font-size: 12px;
    line-height: 18px;
    padding: 5px 15px;
    border: 1px solid #E7E7E7;
    border-radius: 14px;
    display: block;
    margin-top: 5px;
}

a img {
    width: 60px;
    height: auto;
}
img {
  max-width: 100%;
  height: auto;
}
.inline {
   display:inline-block;
   margin-right:5px;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-child {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex:  1 1 auto;
    -webkit-flex:  1 1 auto;
    -ms-flex:  1 1 auto;
    flex:  1 1 auto;
    margin: 5px;
}
.navbar-text{
  margin-left: 15px;
}
.navbar-light .navbar-nav .green-link {
  color: #0A9E01;
}
.navbar-toggleable-md .navbar-collapse {
    width: 60%;
}
.bottom-link a, h6 {
  font-family: sans-serif;
  color: #828282 !important;
  font-size: 16px;
  font-weight: normal;
  margin-right: 5px;
  margin-left: 10px;
}
h4.bottom-link {
    padding-top: .4rem;
  }
.navbar{
  display: flex;
}
.first{
}
.second{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.second-a{
  flex: 1;
  display: flex;
}
.second-b{
  flex: 1;
  display: flex;
}
.box{
  display: flex;
}
.box-first{
  flex: 2;
}
.box-second{
  flex: 1;
  flex-direction: column;
  display: flex;

  h5 {
  color: #0275d8;
  }
}
.box-second-a{
  flex: 1;
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 10px
}
.box-second-a-1{
  flex: 1;
.small-image{
  padding-bottom: 10px;
}
}
.box-second-a-2{
  flex: 2;
  order: 2;
  margin-left: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: .8em;
}
.box-second-b{
  flex: 1;
  order: 1;
}
.box-second-c{
  flex: 1;
}
.index-image{
  margin: 0px 30px 30px;
  margin-left: 0px;
}

$size: 24px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    filter: grayscale(1);
  }
}
.center-me-vert{
  margin-top: auto;
  margin-bottom: auto;
}
.list-posts{
  border-bottom: 2px solid #e8e8e8;
  padding: 20px;
}
.pagination{
  display: flex;
}
.center-me-horiz{
  margin-left: auto;
  margin-right: auto;
}
.photo-booth{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.booth-A{
  width: 25%;
}
